<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 集成统一分布式配置 -->
    <bean id="extendedDisconfAndUpdateApplicationProBean"
          class="com.xinyue.framework.disconf.config.core.ExtendedDisconfAndUpdateApplicationProBean" scope="singleton">
        <property name="scanPackage" value="com.xinyue.business"/>
    </bean>
</beans>